@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');

/****** global element styles *****/

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #999;
    color: #000;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    font: bold 18px 'Libre Franklin';
    padding: 10px 5px;
}

h2 {
    font: bold 30px 'Libre Franklin';
    margin: 10px;
}

p {
    font: 18px 'Libre Franklin';    
}

button {
    width: 200px;
    height: 60px;
    color: #fff;
    font: bold 18px 'Libre Franklin';        
    border: transparent;
    cursor: pointer;    
    margin-left: 20px;
/*    font-size: 1.2rem;
    background: url('../graphics/button_01.png') no-repeat top left;
    background-color: transparent;*/
}

/****** view decorate styles *****/

.main-color {
    color: rgba(222, 164, 135, 1);
}

.rounded-with-shadow {
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
}

.translucent-bg {
    background-color: rgba(243, 241, 239, 0.8) ;    
}

.main-bg-gradient {
    background-image: linear-gradient(to right, rgba(252,184,135, 0.7), rgba(252,184,135, 1));
}

.light-gray-bg {
    background-color: rgba(191, 191, 191, 0.7);
    box-shadow: 5px 5px 5px rgba(191, 191, 191, 0.7);
}
/***** layout styles *****/

/****** main layout styles *****/
.page--container {
    min-width: 430px;
    max-width: 1600px;
    height: 1600px;
    width: 100vw;
    margin: 10px auto; 
    background-color: rgba(243, 241, 239, 1) ;
    border: 1px dotted #aaa;
}

.main--wrapper {
    width: 100%;
    height: 100%;
    background-image: url('../graphics/background-circles.png');
}

/***** navigation styles *****/

.main-nav__wrapper {
    /*height: 150px;*/
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    /*flex-wrap: wrap;*/
}

.main-nav__nav--initials {
    border: 1px dotted #000;
    display: none;
}

.main-nav__nav__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.main-nav__nav__wrapper--links {
    /*border: 1px dotted #000;*/
}

.main-nav__nav__wrapper--links ul {
    display: flex;
}

.main-nav__nav__wrapper--social {
    border: 1px dotted #000;
    padding: 0;
}

.main-nav__nav__wrapper--social img {
    width: 40px;
    border: 1px dotted #000;
}

.main-nav__nav__wrapper--social ul {
    display: flex;
}
/****** header styles *****/

.main-header__wrapper {
    display: flex;
    flex-direction: column;
}

.main-header__header-picture__wrapper {
    flex: 1 1 50%;
}

.main-header__header-picture__wrapper div {
    min-width: 400px;
}

.main-header__header-picture__wrapper div img {
    width: auto;
    max-width: 100%;
}

.main-header__header-content {
    flex: 1 1 50%;        
    display: flex;
}

.main-header__header-content__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: -200px;
    padding-bottom: 20px;
}

.main-header__header-content--info {
    padding: 10px 20px;
}

.main-header__header-content--info div {
    display: flex;
    justify-content: flex-end;
}    


.main-header__header-content--info h2:nth-child(2) {
    padding-bottom: 15px;
}

.main-header__header-content--info div p {
    padding: 10px 10px 0 0;    
}

.main-header__header-content--contactme div {
    text-align: right;
}
    
