@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #999;
    color: #000;
}


ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

.page--container {
    max-width: 1600px;
    height: 1600px;
    width: 100%;
    margin: 10px auto; 
    background-color: rgba(243, 241, 239, 1) ;
    border: 1px dotted #aaa;
}

.main--wrapper {
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    /*background: url('background-circles.png') no-repeat top left;*/
    background-image: url('../graphics/background-circles.png');
}

.main-nav__wrapper {
    border: 1px dotted #000;
    height: 150px;
}

.main-header__wrapper {
    display: flex;

}

.main-header__header--picture {
    flex: 1 1 50%;
}

.main-header__header-content__wrapper {
    flex: 1 1 50%;        
    display: flex;
    font-family: 'Libre Franklin', sans-serif;   
}

.main-header__header-content {
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: -200px;
    padding-bottom: 40px;
}

.main-header__header-content h2 {    
    font-size: 2rem;
    /*line-height: 15px;*/
    /*line-height: .8rem;*/
}

.main-header__header-content--info {
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
    background-color: rgba(243, 241, 239, 0.8) ;    
    padding: 10px 20px;
}

.main-header__header-content--info div {
    display: flex;
    justify-content: flex-end;
}    


.main-header__header-content--info h2:nth-child(2) {
    color: rgb(222,184,135); /* burlywood */
    padding-bottom: 15px;
}

.main-header__header-content p {
/*    font-size: 1.3rem;*/
    /*line-height: .3rem;*/
}

.main-header__header-content--info div p {
    padding-top: 10px;    
}

.main-header__header-content--contactme div {
    text-align: right;
}
    
.contactme-buttons button {
    color: #fff;
    font-size: 1.2rem;
    background: url('../graphics/button_01.png') no-repeat top left;
    width: 205px;
    height: 70px;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}

/*button {
    border: none;
    background: url('../graphics/button_01.png') no-repeat top left;
    padding: 2px 8px;
}*/
