* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #eee;
}


ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #eee;
    text-decoration: none;
}

